.container {
display: flex;
flex-direction: column;
height: 1000px;
width: 1000px;
}

.header{
width: 100%;
height: 50px;
background-color: black

}

.header1{
    color: red
}

.navigationBar {
display: flex
}

.row1 {
display: flex

}

.row2 {
display: flex

}

.row3 {
display: flex

}
